<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>thINK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71E226B21D91B577003EF5B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71E226C61D91B577003EF5B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71E226D11D91B577003EF5B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
